<html>
  <head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <center><h1>Codesters' Student Grade</h1></center>
    <style>
        .bar { fill: steelblue; }
        .bar:hover { fill: brown; }
    </style>
    <svg class="chart"></svg>
    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/studentwebsite/getstudentlist",
            success: function(data) {
                  var margin = {top: 20,right: 250,bottom: 100,left: 40},
                      width = 960 - margin.left - margin.right,
                      height = 550 - margin.top - margin.bottom;

                  var x = d3.scale.ordinal().rangeRoundBands([0, width], .1, .3);
                  var y = d3.scale.linear().range([height, 0]);

                  var xAxis = d3.svg.axis().scale(x).orient("bottom");
                  var yAxis = d3.svg.axis().scale(y).orient("left").ticks(10, "");

                  var svg = d3.select("body").append("svg")
                              .attr("width", width + margin.left + margin.right)
                              .attr("height", height + margin.top + margin.bottom)
                              .append("g")
                              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                  var k = [];
                  data.forEach(function(d) {
                     d.name = d.name;
                     d.grade = +d.grade;
                     k.push(d.name)
                  });

                  x.domain(data.map(function(d) { return d.name; }));
                  y.domain([0, d3.max(data, function(d) { return d.grade; })]);

                  svg.append("g")
                     .attr("class", "x axis")
                     .attr("transform", "translate(0," + height + ")")
                     .call(xAxis)
                     .selectAll(".tick text")
                     .call(wrap, x.rangeBand());

                  svg.append("g")
                     .attr("class", "y axis")
                     .call(yAxis)
                     .append("text")
                     .attr("transform", "rotate(-90)")
                     .attr("y", 6)
                     .attr("dy", ".71em")
                     .style("text-anchor", "end")
                     .text("Points");

                  svg.selectAll(".bar")
                     .data(data)
                     .enter().append("rect")
                     .attr("class", "bar")
                     .attr("x", function(d) { return x(d.name); })
                     .attr("width", x.rangeBand())
                     .attr("y", function(d) { return y(d.grade); })
                     .attr("height", function(d) { return height - y(d.grade); });


                  function type(d) {
                    d.grade = +d.grade;
                    return d;
                  }


                  function wrap(text, width) {
                      text.each(function() {
                          var text = d3.select(this),
                          words = text.text().split(/\s+/).reverse(),
                          word,
                          line = [],
                          lineNumber = 0,
                          lineHeight = 1.2, // ems
                          y = text.attr("y"),
                          dy = parseFloat(text.attr("dy")),
                          tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
                          while (word = words.pop()) {
                            line.push(word);
                            tspan.text(line.join(" "));
                            if (tspan.node().getComputedTextLength() > width) {
                              line.pop();
                              tspan.text(line.join(" "));
                              line = [word];
                              tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
                            }
                          }
                      });
                  }
            }
        })
      });
    </script>
  </body>
</html>
